<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1>About this server...</h1>
    <% const a = 10; const b = 20; %> <% const c = a*b; %> <%= c %> <%-
    include('footer') %>
  </body>
</html>
